In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [19]:
from urllib.request import urlretrieve

In [38]:
for i in range(1, 3):
    url = (f'https://www.gein.noa.gr/HTML/Noa_cat/CAT202{i}.TXT')
    filename = f'data/CAT202{i}.TXT'
    
    path, headers = urlretrieve(url, filename)

    for name, value in headers.items():
        print(name, value, '\n')

Server nginx

Date Thu, 20 Nov 2025 18:45:14 GMT

Content-Type text/plain

Content-Length 1503489

Last-Modified Tue, 25 Apr 2023 05:56:25 GMT

Connection close

Vary Accept-Encoding

ETag "64476b89-16f101"

Expires Thu, 20 Nov 2025 18:47:14 GMT

Cache-Control max-age=120

Accept-Ranges bytes

Server nginx

Date Thu, 20 Nov 2025 18:45:15 GMT

Content-Type text/plain

Content-Length 1235289

Last-Modified Tue, 25 Apr 2023 05:57:43 GMT

Connection close

Vary Accept-Encoding

ETag "64476bd7-12d959"

Expires Thu, 20 Nov 2025 18:47:15 GMT

Cache-Control max-age=120

Accept-Ranges bytes

In [3]:
import re

In [12]:
from datetime import datetime

In [11]:
p = re.compile(r'^(\d{4}\s+[A-Z]{3}\s+\d{1,2})\s+(\d{2}\s+\d{2}\s+[\d.]+)\s+([\d.]+)\s+([\d.]+)\s+(\d+)\s+([\d.]+)$')
date = p.findall('2021 JAN 10   00 13 00.4 38.7538 20.5394   15         1.9')[0][0]
date

'2021 JAN 10'

In [13]:
datetime.strptime(date, '%Y %b %d').strftime('%d/%m/%Y')

'10/01/2021'

In [7]:
import pandas as pd

In [16]:
df = pd.DataFrame({c: pd.Series(dtype=t) for c, t in {'DATE': 'datetime64[ns]',
                                                      'TIME(GMT)':'datetime64[ns]',
                                                      'LAT.(N)': 'float32',
                                                      'LONG.(E)': 'float32',
                                                      'DEPTH(km)': 'Int8',
                                                      'MAGNITUDE(Local)': 'float32'}.items()})
df
df.dtypes

DATE                datetime64[ns]
TIME(GMT)           datetime64[ns]
LAT.(N)                    float32
LONG.(E)                   float32
DEPTH(km)                     Int8
MAGNITUDE(Local)           float32
dtype: object

In [14]:
dataf = pd.read_table('data/CAT2021.TXT')
dataf.head()

  DATE         TIME     LAT.   LONG.  DEPTH    MAGNITUDE
0                     (GMT)    (N)    (E)    (km)...
1   2021 JAN  1   00 38 24.3 38.3894 21.9832    8...
2   2021 JAN  1   00 57 47.9 38.3748 22.0290    8...
3   2021 JAN  1   01 09 25.7 38.3693 22.0290    7...
4   2021 JAN  1   01 28 31.0 40.4311 21.1546   17...

In [3]:
with open('data/CAT2021_sub.txt', 'r', encoding='UTF-8') as f:
    while line := f.readline():
        print(line)

DATE         TIME     LAT.   LONG.  DEPTH    MAGNITUDE

                   (GMT)    (N)    (E)    (km)       (Local)

 2021 JAN  1   00 38 24.3 38.3894 21.9832    8         1.2

 2021 JAN  1   00 57 47.9 38.3748 22.0290    8         0.8

 2021 JAN  1   01 09 25.7 38.3693 22.0290    7         1.6

 2021 JAN  1   01 28 31.0 40.4311 21.1546   17         2.1

 2021 JAN  1   01 53 23.6 34.9503 24.3283   45         1.9

 2021 JAN  1   02 05 36.1 38.3835 21.9992   10         1.2

 2021 JAN  1   02 06 34.9 38.3775 21.9868    8         1.1

 2021 JAN  1   02 07 45.8 38.3665 22.0226   14         1.1

 2021 JAN  1   02 07 47.0 38.6710 24.0024   16         0.9

 2021 JAN  1   02 24 37.8 34.2572 25.2191   15         2.7

 2021 JAN  1   02 41 25.6 38.3922 21.9905   10         1.1

 2021 JAN  1   02 44 36.2 40.2081 19.5392   11         2.3

 2021 JAN  1   02 56 55.2 38.3876 22.0326    9         1.0